body{
    align-content: center;
    margin: 0 auto;
    width: 900px;
    background: #c2bebe;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Page */
/* POSTS */
.posts-container{
    margin: 20px auto;
    width: 100%;
}
.posts-box{
    padding: 30px;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
}

/* SEARCH */
.searchFrm{
    width: 1000px;
    margin: auto;
}
input{
    margin-top: 20px;
    width: 700px;   
    padding: 0px 20px;
    height: 40px;
    font-size: 22px;
}
button{
    margin-top: 20px;
    width: 210px; 
    height: 42px;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #5d5c5c;
}
button:hover{
    background: #1f1e1e;
}
h1{
    margin: 20px auto;
    width: 980px;
    text-align: center;
}

/* Search Page */
.home-page-button{
    padding: 10px;
    text-decoration: none;
    background: #5d5c5c;
    color: #fff;
    margin-bottom: 30px;
}
.home-page-button:hover{
    background: #1f1e1e;
}

/*Search result*/
.search-result{
    text-decoration: none;
    color:  rgb(0, 0, 0);
}
.search-result:hover{
    color:  rgb(54, 54, 54);
}

/* Search Form Validation Error */
.error{
    color: #620404;
}
